@import url(https://fonts.googleapis.com/css?family=Caveat+Brush|Montserrat:300,400,500,600,700|Roboto:300,400,500,700);
.video-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /* background-color: rgba(0, 0, 0, 0.3); */
  backdrop-filter: blur(5px);
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 1.5rem;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #FF6B4A;
}

.auth-buttons button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-buttons button:hover {
  background-color: FF6B4A;
  color: #FF6B4A;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.banner-content h1 {
  font-size: 5rem;
  margin-bottom: 0rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Caveat Brush', Arial, Helvetica, sans-serif;
  
}

.banner-content p {
  font-size: 2.0rem;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Caveat Brush', Arial, Helvetica, sans-serif;
}

.cta-button {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #FF6B4A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #f84119;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .nav-links {
    margin-bottom: 1rem;
  }

  .nav-links a {
    margin-right: 1rem;
    font-size: 0.9rem;
  }

  .auth-buttons button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }

  .banner-content h1 {
    font-size: 2rem;
  }

  .banner-content p {
    font-size: 1rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

